<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.honeyboard.api.algorithm.guide.mapper.AlgorithmGuideMapper">

    <!-- 알고리즘 가이드 목록 조회 -->
    <select id="getAlgorithmGuides" resultType="com.honeyboard.api.algorithm.guide.model.AlgorithmGuide">
        SELECT id, title, thumbnail, created_at
        FROM algorithm_guide
        WHERE is_deleted = false
        <if test="generationId != 0">
            AND generation_id = #{generationId}
        </if>
        ORDER BY created_at DESC
        LIMIT #{offset}, #{pageSize}
    </select>

    <!-- 알고리즘 가이드 검색 -->
    <select id="searchAlgorithmGuide" resultType="com.honeyboard.api.algorithm.guide.model.AlgorithmGuide">
        SELECT id, title, thumbnail, created_at
        FROM algorithm_guide
        WHERE is_deleted = false
        <if test="generationId != 0">
            AND generation_id = #{generationId}
        </if>
        AND title LIKE CONCAT('%', #{title}, '%')
        ORDER BY created_at DESC
        LIMIT #{offset}, #{pageSize}
    </select>

    <!-- 알고리즘 가이드 상세 조회 -->
    <select id="">

    </select>


    <!-- 알고리즘 가이드 작성 -->
    <insert id="addAlgorithmGuide">
        INSERT INTO algorithm_guide (
            title,
            content,
            thumbnail,
            user_id,
            generation_id,
            created_at,
            updated_at
        )
        VALUES (
                   #{algorithmGuide.title},
                   #{algorithmGuide.content},
                   #{algorithmGuide.thumbnail},
                   #{algorithmGuide.userId},
                   #{generationId},
                   NOW(),
                   NOW()
               )
    </insert>

    <!-- 알고리즘 가이드 수정 -->
    <update id="updateAlgorithmGuide">
        UPDATE algorithm_guide
        SET
            title = #{algorithmGuide.title},
            content = #{algorithmGuide.content},
            thumbnail = #{algorithmGuide.thumbnail},
            updated_at = NOW()
        WHERE id = #{id}
          AND is_deleted = false
    </update>

    <!-- 알고리즘 가이드 삭제 (soft delete) -->
    <delete id="softDeleteAlgorithmGuide">
        UPDATE algorithm_guide
        SET is_deleted = 1
        WHERE id = #{id}
    </delete>

	<!-- 검색된 알고리즘 가이드 수 -->
    <select id="countSearchAlgorithmGuide" resultType="int">
        SELECT COUNT(*)
        FROM algorithm_guide
        WHERE generation_id = #{generationId}
        <if test="title != null">
            AND title LIKE CONCAT('%', #{title}, '%')
        </if>
        AND is_deleted = false
    </select>

    <!-- 전체 알고리즘 가이드 수 -->
    <select id="countAlgorithmGuide" resultType="int">
        SELECT COUNT(*)
        FROM algorithm_guide
        WHERE generation_id = #{generationId}
          AND is_deleted = false
    </select>

</mapper>