<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace="com.honeyboard.api.project.finale.mapper.FinaleProjectMapper">

	<select id="selectFinaleProject" parameterType="int" resultType="FinaleProject">
		SELECT
			fp.id as finaleProjectId,
			fp.team_id as teamId,
			fp.url,
			fp.title,
			fp.content,
			fp.user_id as userId,
			u.name as name,
			fp.created_at as createdAt,
			fp.updated_at as updatedAt
		FROM finale_project fp
				 JOIN finale_team ft ON fp.team_id = ft.id
				 JOIN user u ON fp.user_id = u.id
		WHERE ft.generation_id = #{generationId}
		  AND fp.is_deleted = false
	</select>
	
	<insert id="insertFinaleProject" parameterType="FinaleProject">
		INSERT INTO finale_project (
			team_id,
			url,
			title,
			content,
			user_id,
			created_at,
			updated_at
		) VALUES (
			#{teamId},
			#{url},
			#{title},
			#{content},
			#{userId},
			CURRENT_DATE,
			CURRENT_DATE
		)
	</insert>
	
	<update id="updateFinaleProject" parameterType="FinaleProject">
		UPDATE finale_project
		SET 
			url = #{url},
			title = #{title},
			content = #{content},
			updated_at = CURRENT_DATE
		WHERE team_id = #{teamId}
		AND is_deleted = false
	</update>
	
	<update id="updateFinaleProjectDeleteStatus" parameterType="int">
		UPDATE finale_project
		SET
		    is_delete = true
		WHERE id = #{finaleProjectId}
	</update>
	
</mapper>