<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.honeyboard.api.user.mapper.MyPageMapper">

    <!-- MyTrackProjectList 결과 매핑 -->
    <resultMap id="MyTrackProjectListResult" type="MyTrackProjectList">
        <result property="boardId" column="id"/>
        <result property="title" column="title"/>
        <result property="thumbnail" column="thumbnail"/>
        <result property="trackProjectId" column="track_project_id"/>
        <result property="trackTeamId" column="track_team_id"/>
        <result property="trackProjectName" column="track_project_name"/>
        <collection
                property="trackTeam"
                column="track_team_id"
                javaType="java.util.List"
                ofType="TeamMemberInfo"
                select="getTrackTeamMembers"/>
    </resultMap>

    <!-- TeamMemberInfo 결과 매핑 -->
    <resultMap id="TeamMemberInfoResult" type="TeamMemberInfo">
        <result property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="role" column="role"/>
    </resultMap>

    <!-- 트랙 프로젝트 리스트 조회 -->
    <select id="selectAllMyTrackProjects" resultMap="MyTrackProjectListResult">
        SELECT
            tpb.id,
            tp.title,
            tpb.thumbnail,
            tp.id AS track_project_id,
            tpb.title AS track_project_name,
            tt.id AS track_team_id
        FROM
            track_team_member ttm
                JOIN track_team tt ON ttm.track_team_id = tt.id
                JOIN track_project tp ON tt.track_project_id = tp.id
                JOIN track_project_board tpb ON tt.id = tpb.track_team_id
        WHERE
            ttm.user_id = #{userId}
        ORDER BY
            tp.created_at DESC;
    </select>

    <!-- 팀원 정보 조회 -->
    <select id="getTrackTeamMembers" resultMap="TeamMemberInfoResult">
        SELECT
            u.id,
            u.name,
            ttm.role
        FROM
            track_team_member ttm
                JOIN
            user u ON ttm.user_id = u.id
        WHERE
            ttm.track_team_id = #{trackTeamId}
    </select>

    <!-- 2) 나의 파이널 프로젝트 목록 조회 -->
    <select id="selectAllMyFinaleProjects"
            parameterType="int"
            resultType="MyFinaleProjectList">
        SELECT
            fpb.id,
            fpb.title,
            fpb.created_at
        FROM finale_team_member ftm
                 JOIN finale_project_board fpb
                      ON ftm.finale_team_id = fpb.finale_team_id
        WHERE ftm.user_id = #{userId}
          AND fpb.is_deleted = FALSE
        ORDER BY fpb.created_at DESC
    </select>

    <!-- 3) 나의 알고리즘 풀이 목록 조회 -->
    <select id="selectAllMyAlgorithmSolutions"
            parameterType="int"
            resultType="MyAlgorithmSolutionList">
        SELECT
            s.id,
            s.title ,
            s.runtime,
            s.memory,
            s.language_id,
            p.title       AS problemTitle

        FROM algorithm_problem_solution s
                 JOIN algorithm_problem p ON s.problem_id = p.id
        WHERE s.user_id = #{userId}
          AND s.is_deleted = FALSE
          AND p.is_deleted = FALSE
        ORDER BY s.created_at DESC
    </select>
</mapper>