<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.honeyboard.api.user.mapper.MyPageMapper">
    <resultMap id="TrackTeamMemberResultMap" type="com.honeyboard.api.project.track.model.TrackTeamMember">
        <!-- trackMemberId 매핑 (ttm.id) -->
        <id property="trackMemberId" column="id"/>

        <!-- trackTeamId 매핑 (ttm.track_team_id) -->
        <result property="trackTeamId" column="trackTeamId"/>

    </resultMap>
    <!--
        1) 나의 트랙 프로젝트 목록 조회
           - track_team_member ttm 에서 userId에 맞는 팀 찾음
           - track_project_board tpb 조인 (하위 프로젝트)
           - track_project tp 조인 (상위 프로젝트)
           - is_deleted = FALSE 조건 처리
           - resultType: MyTrackProject
    -->
    <select id="selectAllMyTrackProjects"
            parameterType="int"
            resultType="com.honeyboard.api.user.model.mypage.MyTrackProject">

        SELECT
            tp.id   AS trackProjectId,
            tp.title AS trackProjectTitle,

            tpb.id   AS trackProjectBoardId,
            tpb.title AS trackProjectBoardTitle,
            tpb.thumbnail AS thumbnail,

            ttm.track_team_id AS trackTeamId
        FROM track_team_member ttm
                 JOIN track_project_board tpb
                      ON ttm.track_team_id = tpb.track_team_id
                 JOIN track_project tp
                      ON tpb.track_project_id = tp.id

        WHERE ttm.user_id = #{userId}
          AND tp.is_deleted = FALSE
          AND tpb.is_deleted = FALSE

        ORDER BY tpb.created_at DESC
    </select>


    <!--
        1-1) 트랙 팀 멤버 조회
    -->

    <select id="selectTrackTeamMembers"
            parameterType="int"
            resultType="string">
        SELECT
            u.name
        FROM track_team_member ttm
                 JOIN user u ON ttm.user_id = u.id
        WHERE ttm.track_team_id = #{trackTeamId}
    </select>


    <!--
        2) 나의 파이널 프로젝트 목록 조회
    -->
    <select id="selectAllMyFinaleProjects"
            parameterType="int"
            resultType="com.honeyboard.api.user.model.mypage.MyFinaleProject">
        SELECT
            fpb.id        AS finaleProjectBoardId,
            fpb.title     AS title,
            fpb.created_at AS createdAt
        FROM finale_team_member ftm
                 JOIN finale_project_board fpb
                      ON ftm.finale_team_id = fpb.team_id
        WHERE ftm.user_id = #{userId}
          AND fpb.is_deleted = FALSE
        ORDER BY fpb.created_at DESC
    </select>


    <!--
        3) 나의 알고리즘 풀이 목록 조회
    -->
    <select id="selectAllMyAlgorithmSolutions"
            parameterType="int"
            resultType="com.honeyboard.api.user.model.mypage.MyAlgorithmSolution">
        SELECT
            s.title       AS solutionTitle,
            s.id  AS solutionId,
            s.runtime     AS runtime,
            s.memory      AS memory,
            s.language_id AS languageId,
            p.title       AS problemTitle

        FROM algorithm_problem_solution s
                 JOIN algorithm_problem p ON s.problem_id = p.id
        WHERE s.user_id = #{userId}
          AND s.is_deleted = FALSE
          AND p.is_deleted = FALSE
        ORDER BY s.created_at DESC
    </select>

</mapper>
