<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.honeyboard.api.algorithm.language.mapper.ProgrammingLanguageMapper">

	<!-- 언어 전체 조회  -->
	<select id="selectAllProgrammingLanguage" resultType="ProgrammingLanguage">
		SELECT
			id,
			name
		FROM programming_language
		ORDER BY id
	</select>
</mapper>

