<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.honeyboard.api.youtube.mapper.YoutubeMapper">
    <!-- 유뷰브 영상 저장 -->
    <insert id="insertYoutubeVideo" parameterType="com.honeyboard.api.youtube.model.request.YoutubeCreate">
        INSERT INTO youtube (
            video_id,
            title,
            channel,
            created_at
        )
        VALUES (
            #{videoId},
            #{title},
            #{channel},
            CURRENT_TIME
        )
    </insert>
    
    <!-- 플레이 리스트 조회 -->
    <select id="selectAllYoutubeVideo" resultType="com.honeyboard.api.youtube.model.response.YoutubeList">
        SELECT
            id,
            video_id,
            title,
            channel,
            created_at
        FROM youtube
        ORDER BY created_at
    </select>

    <!-- 플레이리스트 삭제 -->
    <delete id="deleteYoutubeVideo">
        DELETE FROM youtube
        WHERE id = #{id}
    </delete>

    <!-- 중복 영상 조회 -->
    <select id="existsByVideoId" resultType="int">
        SELECT COUNT(*)
        FROM youtube
        WHERE video_id = #{videoId}
    </select>
</mapper>